services:
  app:
    image: linuxserver/calibre-web:5.33.2
    restart: always
    volumes:
      - books:/books
      - config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - DOCKER_MODS=linuxserver/mods:universal-calibre
      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - TZ=Europe/Berlin
      - SSL_POLICY=Mozilla-Modern
      - VIRTUAL_PORT=8083
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}

    networks:
      frontend:

networks:
  frontend:
    name: proxy_frontend
    external: true

volumes:
  books:
  config:
